<div>

    <p>Hello {{userName}},</p>

    <p>We received a request to reset your password.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="{{resetLink}}">{{resetLink}}</a></p>

    <p>If you didn’t request a password reset, you can safely ignore this email.</p>

    <p>© 2026 Evently</p>
</div>